:root {
  --pink: #C8385E;
  --golden: #B87333;
  --yellow: #CDA23E;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* Font */
@font-face {
  font-family: "Monotype Corsiva";
  src: url("/vendors/fonts/MTCORSVA.woff") format("woff");
}

@media screen and (min-width: 1800px) {
  .container, .container-xxl, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1600px !important;
  }
}

.golden {
  color: var(--golden);
}

.color-pink {
  color: var(--pink) !important;
}

.bg-pink {
  background: var(--pink) !important;
}

.bg-golden {
  background-color: var(--golden);
}

.bg-yelllow {
  background-color: var(--yellow);
}

.bg-pink-trans {
  background-color: rgba(199, 128, 149, 0.76);
}

.Monotype-Corsiva {
  font-family: "Monotype Corsiva";
}

.title {
  width: 200px;
  height: 4px;
  background: var(--pink);
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 10px;
}

.topic {
  font-size: 6rem;
}

.ashok-container {
  width: 94%;
  margin: 0 auto;
}

.ashok-container img {
  z-index: -1;
}

header {
  height: 100px;
}

section.banner .border-pink {
  border: 6px solid var(--pink) !important;
  height: 86vh;
  color: var(--golden);
  font-family: "Monotype Corsiva";
}

section.banner .border-pink .banner-photo {
  max-height: 80vh;
  width: auto;
}

section.banner .border-pink h1 {
  font-size: 7.5rem;
}

section.banner .border-pink p {
  font-size: 3rem;
}

section.banner .border-pink h3 {
  font-size: 4rem;
}

section.banner .border-pink h3 sub {
  right: 0;
  font-size: 24px;
}

section.banner .border-pink .ctas {
  color: #fff;
  font-family: 'Nunito', sans-serif;
}

section.banner .border-pink .ctas .theme-outline {
  border: 2px solid var(--golden) !important;
}

section.banner .border-pink .ctas .theme-outline:hover a {
  color: #fff;
}

section.banner .border-pink .ctas .theme-outline a {
  color: #000;
}

section.banner .border-pink .ctas .theme-outline:hover {
  background-color: var(--golden);
  color: #fff;
}

section.banner .border-pink .ctas .theme-fill {
  background-color: var(--yellow);
  color: #000;
}

section.banner .border-pink .ctas .theme-fill:hover {
  background-color: var(--golden);
  color: #fff;
}

@media screen and (max-width: 676px) {
  #ashok-quote {
    font-size: 2rem;
  }
}

.container {
  text-align: center;
  top: 40%;
  left: 0;
  margin: 0 auto;
}

.container a {
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  top: 5px;
}

.container a:after {
  content: 'logo';
  position: absolute;
  height: 2px;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  -webkit-transition: .35s ease;
  transition: .35s ease;
}

.container a:hover:after, .container a:focus:after, .container a:active:after {
  width: 100%;
}

header h1 {
  position: relative;
  text-align: center;
  font-family: 'Varela Round', serif;
}

.button_container {
  position: absolute;
  top: 45px;
  right: 0;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
  z-index: 99999;
}

.button_container:hover {
  opacity: .7;
}

.button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
          transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}

.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}

.button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
          transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}

.button_container span {
  background: var(--golden);
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
}

.button_container span:nth-of-type(2) {
  top: 11px;
}

.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: var(--golden);
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}

.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
  z-index: 9999;
}

.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}

.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
          animation-delay: .50s;
}

.overlay nav {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
  font-family: 'Varela Round', serif;
  font-weight: 400;
  text-align: center;
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}

.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}

.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}

.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  -webkit-transition: .35s;
  transition: .35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.intro h2, .journey h2, .works h2, .spes-areas h2, .awards h2, .timeline h2, .pro-skills h2, .tabs-inf h2, .ps-other h2 {
  font-size: 4rem;
}

.intro h2 {
  font-size: 4rem;
}

.intro .cta, .journey .cta, .works .cta {
  text-transform: capitalize;
  color: #fff;
  font-family: 'Nunito', sans-serif;
}

.intro .cta .theme-outline, .journey .cta .theme-outline, .works .cta .theme-outline {
  border: 2px solid var(--golden) !important;
}

.intro .cta .theme-outline:hover a, .journey .cta .theme-outline:hover a, .works .cta .theme-outline:hover a {
  color: #fff;
}

.intro .cta .theme-outline a, .journey .cta .theme-outline a, .works .cta .theme-outline a {
  color: #000;
}

.intro .cta .theme-outline:hover, .journey .cta .theme-outline:hover, .works .cta .theme-outline:hover {
  background-color: var(--golden);
  color: #fff;
}

.intro .cta .theme-fill, .journey .cta .theme-fill, .works .cta .theme-fill {
  background-color: var(--yellow);
  color: #000;
}

.intro .cta .theme-fill:hover, .journey .cta .theme-fill:hover, .works .cta .theme-fill:hover {
  background-color: var(--golden);
  color: #fff;
}

.content {
  margin: 0 auto;
}

.left-side {
  float: left;
  width: 25%;
  padding: 1%;
}

.right-side {
  float: right;
  width: 25%;
  padding: 1%;
}

.content img {
  max-width: 100%;
}

.containerr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@-webkit-keyframes slidein {
  0% {
    top: -400px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

@keyframes slidein {
  0% {
    top: -400px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

@-webkit-keyframes slideout {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -400px;
    opacity: 0;
  }
}

@keyframes slideout {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -400px;
    opacity: 0;
  }
}

#scene {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 100%;
  height: 400px;
  position: absolute;
  top: 80px;
  /* bottom: 0; */
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
  overflow: hidden;
}

#scene #left-zone {
  background: #fff;
  height: 75%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

#scene #left-zone .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
  padding: 0;
}

#scene #left-zone .list li.item input[type="radio"] {
  display: none;
}

#scene #left-zone .list li.item input[type="radio"] ~ label {
  display: block;
  opacity: 0.5;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

#scene #left-zone .list li.item input[type="radio"] ~ label:first-letter {
  text-transform: uppercase;
}

#scene #left-zone .list li.item input[type="radio"] ~ label:hover {
  opacity: 0.75;
  cursor: pointer;
}

#scene #left-zone .list li.item input[type="radio"] ~ label.label_strawberry:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  /* background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/83067-200.png'); */
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}

#scene #left-zone .list li.item input[type="radio"] ~ label.label_banana:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  /* background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/53209-200.png'); */
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}

#scene #left-zone .list li.item input[type="radio"] ~ label.label_apple:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  /* background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/14333-200.png'); */
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}

#scene #left-zone .list li.item input[type="radio"] ~ label.label_orange:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  /* background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/9636-200.png'); */
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}

#scene #left-zone .list li.item input[type="radio"] ~ .content {
  position: absolute;
  left: 0px;
  top: -400px;
  width: 650px;
  height: 400px;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-name: slideout;
          animation-name: slideout;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#scene #left-zone .list li.item input[type="radio"] ~ .content.content_strawberry .picto {
  height: 100px;
  width: 100px;
  /* background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/83067-200.png'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#scene #left-zone .list li.item input[type="radio"] ~ .content.content_strawberry h1 {
  color: red;
}

#scene #left-zone .list li.item input[type="radio"] ~ .content.content_banana .picto {
  height: 100px;
  width: 100px;
  /* background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/53209-200.png'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#scene #left-zone .list li.item input[type="radio"] ~ .content.content_banana h1 {
  color: red;
}

#scene #left-zone .list li.item input[type="radio"] ~ .content.content_apple .picto {
  height: 100px;
  width: 100px;
  /* background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/14333-200.png'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#scene #left-zone .list li.item input[type="radio"] ~ .content.content_apple h1 {
  color: red;
}

#scene #left-zone .list li.item input[type="radio"] ~ .content.content_orange .picto {
  height: 100px;
  width: 100px;
  /* background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/9636-200.png'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#scene #left-zone .list li.item input[type="radio"] ~ .content.content_orange h1 {
  color: red;
}

#scene #left-zone .list li.item input[type="radio"] ~ .content h1:first-letter {
  text-transform: uppercase;
}

#scene #left-zone .list li.item input[type="radio"] ~ .content p {
  max-width: 50%;
  text-align: center;
}

#scene #left-zone .list li.item input[type="radio"]:checked ~ label {
  opacity: 1;
  -webkit-animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
          animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  font-size: 23px;
  font-weight: bold;
}

#scene #left-zone .list li.item input[type="radio"]:checked ~ label.label_strawberry {
  color: brown;
  border-left: solid 4px brown;
}

#scene #left-zone .list li.item input[type="radio"]:checked ~ label.label_banana {
  color: brown;
  border-left: solid 4px brown;
}

#scene #left-zone .list li.item input[type="radio"]:checked ~ label.label_apple {
  color: brown;
  border-left: solid 4px brown;
}

#scene #left-zone .list li.item input[type="radio"]:checked ~ label.label_orange {
  color: brown;
  border-left: solid 4px brown;
}

#scene #left-zone .list li.item input[type="radio"]:checked ~ .content {
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
          animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  color: #fff;
}

#scene #middle-border {
  background-color: #eee;
  height: 75%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 2px;
  z-index: 0;
}

#scene #right-zone {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("https://i.ibb.co/bm8xmpD/15390692-10211338778375820-5070672743193228106-n.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://i.ibb.co/bm8xmpD/15390692-10211338778375820-5070672743193228106-n.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.timeline__content-title {
  font-weight: normal;
  font-size: 66px;
  margin: -10px 0 0 0;
  -webkit-transition: .4s;
  transition: .4s;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Pathway Gothic One", sans-serif;
  color: #fff;
}

.timeline__content-desc {
  margin: 0;
  font-size: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: rgba(255, 255, 255, 0.7);
  font-family: Cardo;
  font-weight: normal;
  line-height: 25px;
}

.timeline:before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  content: "";
  background: rgba(255, 255, 255, 0.07);
}

@media only screen and (max-width: 767px) {
  .timeline:before {
    left: 40px;
  }
}

.timeline-item {
  padding: 40px 0;
  opacity: .3;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(50% - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
}

.timeline-item:before {
  content: attr(data-text);
  letter-spacing: 3px;
  width: 100%;
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  font-family: "Pathway Gothic One", sans-serif;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  top: 70%;
  margin-top: -5px;
  padding-left: 15px;
  opacity: 0;
  right: calc(-100% - 56px);
}

.timeline-item:nth-child(even) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.timeline-item:nth-child(even):before {
  right: auto;
  text-align: right;
  left: calc(-100% - 56px);
  padding-left: 0;
  border-left: none;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  padding-right: 15px;
}

.timeline-item--active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.timeline-item--active:before {
  top: 50%;
  -webkit-transition: .3s all .2s;
  transition: .3s all .2s;
  opacity: 1;
}

.timeline-item--active .timeline__content-title {
  margin: -50px 0 20px 0;
}

@media only screen and (max-width: 767px) {
  .timeline-item {
    -ms-flex-item-align: baseline !important;
        align-self: baseline !important;
    width: 100%;
    padding: 0 30px 150px 80px;
  }
  .timeline-item:before {
    left: 10px !important;
    padding: 0 !important;
    top: 50px;
    text-align: center !important;
    width: 60px;
    border: none !important;
  }
  .timeline-item:last-child {
    padding-bottom: 40px;
  }
}

.timeline__img {
  max-width: 100%;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

.timeline-container {
  width: 100%;
  position: relative;
  padding: 80px 0;
  -webkit-transition: .3s ease 0s;
  transition: .3s ease 0s;
  background-attachment: fixed;
  background-size: cover;
}

.timeline-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(99, 99, 99, 0.8);
  content: "";
}

.timeline-header {
  width: 100%;
  text-align: center;
  position: relative;
}

.timeline-header__title {
  color: #fff;
  font-size: 46px;
  font-family: Cardo;
  font-weight: normal;
  margin: 0;
}

.timeline-header__subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 16px;
  letter-spacing: 5px;
  margin: 10px 0 0 0;
  font-weight: normal;
}

.works ul li a {
  color: var(--pink);
  font-weight: bold;
}

.works ul li a.active {
  background-color: var(--pink) !important;
  border-radius: 24px;
  padding: 7px 20px;
  color: #fff !important;
}

.works .tab-content {
  min-height: 346px;
}

.works .tab-content .row img {
  height: 280px;
}

.spes-areas .word-map span {
  margin-right: 18px;
  max-width: 100vw;
}

.spes-areas .word-map .his {
  font-size: 60px;
}

.spes-areas .word-map .hrp {
  font-size: 60px;
}

.spes-areas .word-map .mao {
  font-size: 28px;
}

.spes-areas .word-map .crdfa {
  font-size: 28px;
}

.spes-areas .word-map .paem {
  font-size: 48px;
}

.spes-areas .word-map .cr {
  font-size: 38px;
}

.spes-areas .word-map .smmc {
  font-size: 34px;
}

.awards img {
  max-width: 100%;
  height: auto;
}

.awards h4 {
  font-size: 32px;
  font-weight: 500;
}

main {
  position: relative;
  /* min-height: 100vh !important; */
  z-index: 1;
  background: white;
}

footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

footer {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(86, 2, 41, 0.74)), to(#d2ac4d)), url("../Assets/wall-bg.jpg");
  background: linear-gradient(0deg, rgba(86, 2, 41, 0.74), #d2ac4d), url("../Assets/wall-bg.jpg");
  color: #fff;
  font-family: 'Nunito', sans-serif;
}

footer h3 {
  font-weight: 900;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 0;
}

footer .foo-title {
  width: 120px;
  height: 8px;
  background: white;
  border-radius: 4px;
  margin-bottom: 40px;
}

footer li {
  list-style: none;
}

footer li a {
  color: white;
}

footer li a:hover {
  color: var(--yellow);
}

footer form input[transparency='half'], footer form textarea[transparency='half'] {
  background: rgba(221, 221, 221, 0.3);
  margin-bottom: 16px;
}

footer form input[transparency='half']::-webkit-input-placeholder, footer form textarea[transparency='half']::-webkit-input-placeholder {
  color: white;
}

footer form input[transparency='half']:-ms-input-placeholder, footer form textarea[transparency='half']:-ms-input-placeholder {
  color: white;
}

footer form input[transparency='half']::-ms-input-placeholder, footer form textarea[transparency='half']::-ms-input-placeholder {
  color: white;
}

footer form input[transparency='half']::placeholder, footer form textarea[transparency='half']::placeholder {
  color: white;
}

.bread-topic {
  text-align: center;
  font-family: "Monotype Corsiva";
}

.bread-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 250px;
}

.bread-content {
  left: 44%;
  top: 85px;
  color: #fff;
  top: 100px;
}

.bread-content h1 {
  font-size: 4rem;
}

.handshake-img {
  left: 0;
  bottom: 0;
}

.classic-tabs ul.nav {
  height: 84px !important;
}

.classic-tabs ul.nav li a {
  text-transform: capitalize !important;
  color: var(--golden) !important;
  font-size: 24px !important;
}

.classic-tabs ul.nav li a.active {
  color: var(--pink) !important;
}

section.timeline .timeline-wrapper {
  background: url("../Assets/timeline-bg.png");
}

section.timeline .timeline-wrapper .step-content {
  background: #fff;
}

section.pro-skills .ps-item .card {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(209, 170, 77, 0.81)), to(#d2ac4d)), url("../Assets/bg-icon.png");
  background: linear-gradient(0deg, rgba(209, 170, 77, 0.81), #d2ac4d), url("../Assets/bg-icon.png");
  text-transform: uppercase;
  border-radius: 20px;
}

section.pro-skills .ps-item .card a {
  color: #fff;
  font-weight: bold;
}

.tabs-inf ul.nav li a {
  color: var(--pink);
  font-weight: bold;
}

.tabs-inf ul.nav li a.active {
  background: var(--pink);
  color: #fff;
}

.tabs-inf .tab-content table thead tr th {
  font-size: 20px;
  font-weight: bold;
}

.breadcrumb .bread-img {
  height: 400px;
}

.breadcrumb .bc-content {
  color: #fff;
  top: 140px;
}

.breadcrumb .bc-content h1 {
  font-size: 6rem;
}

.ps-desc .container {
  font-size: 24px;
}

.ps-other .card .btn {
  background-color: #fff !important;
  color: var(--pink) !important;
  border: 4px solid var(--pink);
  background: rgba(250, 200, 150, 0.9) !important;
  border-radius: 5px;
  text-transform: normal;
}

.ps-other .card .btn:hover {
  background: var(--pink) !important;
  color: #fff !important;
}

.creation-exerpt .row .card {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background: rgba(255, 0, 68, 0.1);
}

.creation-exerpt .row .card:hover {
  -webkit-box-shadow: 0px 4px 17px -2px rgba(0, 0, 0, 0.75) !important;
          box-shadow: 0px 4px 17px -2px rgba(0, 0, 0, 0.75) !important;
}

.creation-exerpt .row .card .blurred-creation {
  position: relative;
}

.creation-exerpt .row .card .blurred-creation::after {
  position: absolute;
  bottom: 0;
  height: 93%;
  width: 100%;
  content: "";
  background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #ffe5ec), color-stop(80%, rgba(255, 255, 255, 0)));
  background: linear-gradient(to top, #ffe5ec 20%, rgba(255, 255, 255, 0) 80%);
  pointer-events: none;
  left: 0;
}

.creation-exerpt .row .card a {
  white-space: nowrap;
  color: #fff;
}

.creation-exerpt .row .card a::after {
  content: '';
}

.creation-exerpt .row .card .price {
  position: absolute;
  bottom: 80px;
  right: 20px;
}

.creation-exerpt .row img {
  height: 600px;
}

.creation-exerpt .row aside {
  position: absolute;
  right: 11%;
  bottom: 10%;
  background-color: var(--yellow);
  padding: 45px 20px;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
}

.creation-exerpt .row div.d-flex a {
  color: #fff;
}

.creation-exerpt .row div.d-flex a::after {
  content: '';
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px;
  -webkit-transition: .3s;
  transition: .3s;
}

.gallery:hover .gallery__image {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.gallery__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
}

.gallery__link {
  margin: 2px;
  overflow: hidden;
}

.gallery__link:hover .gallery__image {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.gallery__link:hover .gallery__caption {
  opacity: 1;
}

.gallery__thumb {
  position: relative;
}

.gallery__image {
  display: block;
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

.gallery__image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.gallery__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 15px 15px;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: white;
  opacity: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-transition: .3s;
  transition: .3s;
}

section.gall-header {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(86, 2, 41, 0.74)), to(#d2ac4d)), url("../Assets/pgraphy.jpg");
  background: linear-gradient(0deg, rgba(86, 2, 41, 0.74), #d2ac4d), url("../Assets/pgraphy.jpg");
}

.contact button {
  overflow: visible;
}

.contact button, .contact select {
  text-transform: none;
}

.contact button, .contact input, .contact select, .contact textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}

.contact input {
  line-height: normal;
}

.contact textarea {
  overflow: auto;
}

.contact #container {
  border: solid 3px #c8385e;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}

.contact form {
  padding: 37.5px;
  margin: 50px 0;
}

.contact h1 {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.contact .underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

.contact .icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.contact .icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.contact .email {
  float: right;
  width: 45%;
}

.contact input[type='text'], .contact [type='email'], .contact select, .contact textarea {
  background: none;
  border: none;
  border-bottom: solid 2px #474544;
  color: #474544;
  font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  text-transform: uppercase;
  width: 100%;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contact input[type='text']:focus, .contact [type='email']:focus, .contact textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
  border-color: #c8385e;
}

.contact .message {
  float: none;
}

.contact .name {
  float: left;
  width: 45%;
}

.contact select {
  background: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png") no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.contact select::-ms-expand {
  display: none;
}

.contact .subject {
  width: 100%;
}

.contact .telephone {
  width: 100%;
}

.contact textarea {
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 100%;
}

.contact ::-webkit-input-placeholder {
  color: #474544;
}

.contact :-moz-placeholder {
  color: #474544;
  opacity: 1;
}

.contact ::-moz-placeholder {
  color: #474544;
  opacity: 1;
}

.contact :-ms-input-placeholder {
  color: #474544;
}

.contact #form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contact #form_button:hover {
  background: #c8385e;
  color: #F2F3EB;
  border-color: #c8385e;
}

@media screen and (max-width: 768px) {
  .contact #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  .contact h1 {
    font-size: 26px;
  }
  .contact .underline {
    width: 68px;
  }
  .contact #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  .contact h1 {
    font-size: 18px;
  }
  .contact .icon {
    height: 35px;
    width: 35px;
  }
  .contact .underline {
    width: 53px;
  }
  .contact input[type='text'], .contact [type='email'], .contact select, .contact textarea {
    font-size: 0.875em;
  }
}

.purchase .bg-pink-trans a.btn:hover {
  background-color: #fff !important;
  color: #000 !important;
}

.dm.position-absolute {
  top: 25vh;
  right: 86px;
  z-index: 9;
}

.dm.position-absolute:hover {
  right: 186px;
}

.dm.position-absolute a {
  background: var(--yellow);
  color: #fff;
}

.modal-backdrop.fade.show {
  z-index: 0;
}
/*# sourceMappingURL=style.css.map */